<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filter %}
<!--{% load custom_tags %}-->
<!--{% load custom_filters %}-->
<!-- Название у нас будет posts -->
{% block title %}
posts
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}

<h1>Статьи и новости</h1>
<h5 align="left">Дата: {{ time_now|date:'M d Y' }}</h5>
<h5 align="left">Количество статей: {{posts | length}}</h5>
<br>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

<hr>
   {% if posts %}
       <table width="100%">
           <tr>
               <td align="left">Заголовок</td>
               <td>Дата публикации</td>
               <td>Описание</td>
               <td>Описание2</td>
               <td>Категория</td>
               <td>Тип статьи</td>
               <td>Рейтинг</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td align="left">{{ post.heading }}</td>
               <td>{{ post.data_create }}</td>
               <td>{{ post.text|truncatewords:3 }}</td>
               <td>{{ post.text|censor }}</td>
               <td>{{ post.category }}</td>
               <td>{{ post.article_news }}</td>
               <td>{{ post.rating }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет</h2>
   {% endif %}

 {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

<!--{{ posts }}-->
{% endblock content %}